html, body {
	width: 100%;
	height: 100%;
}

body {
	background-color: #0066CC;
}

.mainHeader {
	width: 100%;
	font-size: 10px;
	font-family: "Helvetica";
	color: #fff;
	text-align: center;
	clear: both;
	padding-bottom: 10px;
	margin-bottom: 20px;
	border-bottom: 1px solid #00CCFF;
 }
 
  .container {
	width: 60%;
	margin-left: 20%;
	background-color: white;
 }
 
 .mainMenu {
	display: flex;
 }

 .logo {
	margin: 25px;
 }
 
 .navMenu {
	display: flex;
	direction: row;
	margin: 10px;
 }
 
 .navMenu p {
	padding: 20px;
	color: #0066CC;
	font-size: 20px;
 }
 
 .mainSelector {
	width: 90%;
	max-width: 875px;
	margin: 0 auto;
	clear: both;
	padding-bottom: 50px;
 }
 
 #dentistInUtah {
	width: 100%;
	height: 100%;
 }
 
 .threeParagraphs {
	width: 90%;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-left: 5%;
	margin-right: 5%;
 }
 
 .innerContainer {
	max-width: 275px;
 }
 
 .staffInfo {
	width: 90%;
	max-width: 875px;
	margin-left: 5%;
	margin-right: 5%;
 }
 
 #staffImage {
	width: 100%;
 }
 
 .infoVideo {
	width: 90%;
	margin: 0 5%;
 }